@charset "UTF-8";

html, body {
    margin: 0;
    height: 100%;
    font: normal 20px Helvetica, sans-serif;
    background-color: black;
}


/* Header */

#logohead {
    height: 100%;
    cursor: pointer;
    transition: filter .2s;
}

#logohead:hover {
    filter: brightness(.5);
}

header {
    height: 9vh;
    width: 100%;
    background-color: #121212;
}

.header-right {
    height: 100%;
    display: flex;
    align-items: center;
    float: right;
    align-content: center;
    justify-content: center;
    text-align: center;
}

a {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    color: white;
    padding-left: 29px;
    padding-right: 29px; 
    padding-top: 31px;
    padding-bottom: 31px;
    text-decoration: none;
    transition: color .15s, background-color.15s;
}

a:hover {
    background-color: #252525;
}

/* Fundo */

#fundo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#imgfundo {
    filter: invert(100%);
    width: 50%
}

#homeicon {
    padding-right: 10px;
    height: 20px;
}

#contacticon {
    padding-right: 10px;
    filter: invert(100%);
    height: 20px;
}

#abouticon {
    filter: invert(100%);
    padding-right: 10px;
    height: 20px;
} 
  
