@charset "UTF-8";
@font-face { 
    font-family: Coolvetica; 
    src: url('coolvetica\ rg.ttf'); 
} 

:root {
    --detalhes-letras: #00f7ff;
}

html, body {
    top: 0;
    margin: 0;
    padding: 0;
    background-color: #121212;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
}

/* Input */

.campo {
    height: 100px;
    width: 340px;
    padding: 5px;
    padding-left: 15px;
    border-radius: 8px;
    border: 2px solid var(--detalhes-letras);
    background-color: #252525;
    font-size: 30pt;
    color: var(--detalhes-letras);
}

.campo:focus {
    outline: none;
}

.res {
    outline: none;
    cursor: context-menu;
    background-color: #007275;
    color: white;
}

/* Divs */

#corpo {
    margin-left: auto;
    margin-right: auto;
    width: 825px;
    height: 680px;
    display: flex;
    justify-content:center;
    align-items:center;
}

#campos {
    min-width: 820px;
    margin-top: 140px;
}

/* Botões */

button {
    position: relative;
    bottom: 0;
    margin-top: 20px;
    height: 90px;
    min-width: 364px;
    border-radius: 10px;
    background-color: var(--detalhes-letras);
    font-size: 20pt;
    color: white;
    border: 2px solid var(--detalhes-letras);
    transition: background-color .12s;
    font-weight: bolder;
    float: right;
}

button[type=reset] {
    background-color: transparent;
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
    background-color: var(--detalhes-letras);
}

button:active {
    background-color: #009fa3;
}

/* Detalhes */

.num1::after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background-color: var(--detalhes-letras);
}

/* Nota */

#nota {
    margin: 0 auto;
    background-color: #454545;
    padding: 30px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 13pt;
    border: 2px solid var(--detalhes-letras);
    color: white;
    display: flex;
    max-width: 320px;
}

/* Switch */

.switch {
    position: relative;
    margin-left: 381px;
    display: inline-block;
    width: 60px;
    height: 34px;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: var(--detalhes-letras);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--detalhes-letras);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* Títulos */

h2 {
    margin-left: 257px;
    margin-top: 504px;
    color: white;
}

/* Outros */

::placeholder {
    color: white;
}